[submodule "libraries/adafruit"]
	path = libraries/adafruit
	url = https://github.com/adafruit/Fritzing-Library.git
	shallow = true
[submodule "libraries/sparkfun"]
	path = libraries/sparkfun
	url = https://github.com/sparkfun/Fritzing_Parts.git
	shallow = true
[submodule "libraries/fritzing-parts-extra"]
	path = libraries/fritzing-parts-extra
	url = https://github.com/LeonFedotov/fritzing-parts-extra.git
	shallow = true
[submodule "libraries/seeed"]
	path = libraries/seeed
	url = https://github.com/Seeed-Studio/fritzing_parts.git
	shallow = true
[submodule "libraries/mgesteiro"]
	path = libraries/mgesteiro
	url = https://github.com/mgesteiro/fritzing-parts.git
	shallow = true
[submodule "libraries/dip-ics"]
	path = libraries/dip-ics
	url = https://github.com/Adr-hyng/74LS-Series-Fritzing-Parts.git
	shallow = true
[submodule "libraries/elegoo"]
	path = libraries/elegoo
	url = https://github.com/marcinwisniowski/ElegooFritzingBin.git
	shallow = true
[submodule "libraries/mkjanke"]
	path = libraries/mkjanke
	url = https://github.com/mkjanke/Fritzing-Parts.git
	shallow = true
[submodule "libraries/wemos-d1-mini-shields"]
	path = libraries/wemos-d1-mini-shields
	url = https://github.com/mcauser/Fritzing-Part-WeMos-D1-mini-Shields.git
	shallow = true
